@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Open+Sans:400,400i,700';
@import "fawesome.scss";
@import "compass/reset";
@import "compass/css3/transform";

$fonts-sans : "Source Sans Pro", "Helvetica", "Arial", sans-serif;
$fonts-serif : "Open Sans", "Helvetica", "Arial", sans-serif;

html, body {
	height: 100%;
}

body {
	font-family: $fonts-sans;
	height: 100%;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

u {
	text-decoration: underline;
}

[class^="icon-"]:before, [class*=" icon-"]:before,
a[href*="//"]:not([href*="brandonjd.net"]):after
{
	font-family: "brandonjd";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a[href*="//"]:not([href*="brandonjd.net"]):after {
 font-size: 0.5em;
 margin-left: 0.2em;
 text-decoration: none;
}

main {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: auto;
	min-height: 100%;
}

aside.sidebar {
	flex: 0 0 150px;
	padding: 0 2rem;
	padding-top: 2.5rem;
	min-height: 100%;
	background-color: #f8f8f8;

	.home-banner {
		margin-bottom: 1.6rem;
		overflow: hidden;

		img {
				width: 150px;
				height: 150px;
		}
	}

	.sidebar-content {
		padding: 0 0.25rem;
	}

	.sidebar-title {
		font-size: 1.6rem;
		margin-bottom: 1.8rem;
	}

	nav {
		li {
			margin-bottom: 1rem;
		}

		a:link, a:visited {
			color: #2d97c0;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		a[class^="icon-"]:hover:before,
		a[href*="//"]:not([href*="brandonjd.net"]):after {
			text-decoration: none;
		}

		[class^="icon-"]:before {
			margin-right: 0.3em;
		}

		a[href*="//"]:not([href*="brandonjd.net"]):after {
		 font-size: 0.65em;
		}
	}
}

article {
	flex: 0 1 auto;
	font-family: $fonts-serif;
	width: 45rem;
	margin-top: 2.5rem;
	padding: 0 2.4rem;
	padding-bottom: 2.5rem;
	font-size: 1.0em;
	line-height: 125%;

	h1, h2, h3, h4, h5, h6 {
		line-height: 100%;
	}

	h1 {
		font-family: $fonts-sans;
		font-size: 3.0em;
		font-weight: 300;
		margin-bottom: 0.6em;
	}

	h2 {
		font-weight: bold;
		font-size: 1.3em;
		margin-bottom: 1rem;
		margin-top: 1.5rem;
	}

	ul, ol {
		list-style-position: outside;
		margin-left: 2.7rem;
		margin-bottom: 1.2em;
	}

	ul {
		list-style-type: square;
	}

	li {
		padding-left: 0.5rem;

		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0.1rem;
			margin-top: 0.5em;

			li:before {
				content: "\00BB \0020";
				padding-right: 5px;
			}

			li {
				padding-left: 1em;
				text-indent: -1em;
			}
		}
	}

	li:not(:last-of-type)
	{
		margin-bottom: 0.5em;
	}

	p {
		margin-bottom: 0.8em;
	}

	hr {
		border: none;
		border-bottom: 1px solid #ddd;
		margin: 1.5rem auto;
	}

	blockquote {
		font-style: italic;
		margin-left: 50px;
		font-size: 0.8em;
	}

	a:link {
		color: #2d97c0;
	}

	.project-section {
		h2 {
			margin-top: 0;

			a, a:link, a:visited, a:active {
				color: #000;
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}
		}

		.project-heading {
			display: flex;
			flex-flow: row nowrap;
			margin-bottom: 0.6em;

			a.project-heading-preview {
				flex: 0 0 auto;
				display: inline-block;
				float: left;
				margin-right: 0.8rem;

				img {
					display: inline-block;
					height: 7em;
					width: 7em;
					overflow: hidden;
				}
			}

			.project-tech {
				display: inline-block;
				padding: 2px 6px;
				font-size: 0.8em;
				margin: 3px 3px 3px 0;
				background-color: #126EB3;
				color: #fff;
			}

			.project-heading-text {
				flex: 0 0 auto;

				h2 {
					margin-bottom: 0.6rem;
				}
			}
		}

		.portfolio-images {
			p {
				font-size: 0.9em;
				font-style: italic;
			}

			img {
				display: inline-block;
				height: 60px;
				width: 60px;
				margin-right: 0.15rem;
				overflow: hidden;
			}
		}
	}
}

@media screen and (max-width: 840px) {
	aside.sidebar {
		flex-basis: 60px;
		max-width: 60px;
		padding: 0 1rem;
		padding-top: 1rem;
		text-align: center;
		overflow: visible;

		.sidebar-fixed {
			position: fixed;
		}

		.home-banner img {
			height: 60px;
			width: 60px;
		}

		.sidebar-title {
			display: none;
		}

		nav {
			overflow: visible;
			font-size: 150%;

			ul {
				width: 1em;
				margin: auto;
			}

			li {
				overflow: hidden;
				cursor: pointer;
				height: 1.1em;
				max-width: 1.1em;
				transition: max-width 0.1s ease-out;

				a:before {
					margin: 0;
				}

				a:link, a:visited {
					color: #004f6d;
					display: block;
				}
			}

			li:hover {
				background: #004f6d;
				padding: 0.3rem;
				padding-bottom: 0.2rem;
				margin: -0.3rem;
				margin-right: 0;
				margin-bottom: 0.8rem;
				overflow: visible;
				border-radius: 5px;
				display: inline-block;
				max-width: 300px;
				transition: max-width 0.1s ease-in;

				a {
					display: block;
					visibility: visible;
					color: #FFF;
				}

				a:before {
					margin-right: 0.3em;
				}
			}

			a {
				visibility: hidden;
				white-space: nowrap;
			}

			a:before {
				visibility: visible;
			}

			a:hover {
				text-decoration: none;
			}
		}
	}
}
