{%
	assign custom_head =
	'<link rel="stylesheet" type="text/css" href="/css/lightbox.css">
		<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/js/lightbox-2.6.min.js"></script>'
%}
{% include header.html %}
<article>
		<header>
			<h1>Project: {% if page.heading %}{{ page.heading }}{% else %}{{ page.title }}{% endif %}</h1>
		</header>

		{% if page.images %}
		<aside class="portfolio-images">
			{% for image in page.images %}
			<a href="/img/projects/full/{{ image.file }}" title="{{ image.desc }}" alt="{{ image.desc }}" data-lightbox="screenshots">
				<img src="/img/projects/thumbs/{{ image.file }}" alt="{{ image.desc }}">
			</a>
			{% endfor %}
		</aside>
		{% endif %}

		{% if page.start_date or page.technologies or page.link %}
		<aside class="project-heading">
			<div class="project-heading-text">
				{% if page.type or page.start_date %}
				<b>
					{% if page.type %}
					{{ page.type }}
					{% endif %}
					{% if page.start_date %}
					{% if page.type %} &bull; {% endif %}
					{{ page.start_date }}{% if page.start_date != page.end_date %} &mdash; {% if page.end_date %}{{ page.end_date }}{% else %}Present{% endif %}{% endif %}
					{% endif %}
				</b><br>
				{% endif %}

				{% if page.technologies %}
				<b>Technologies:</b> {{ page.technologies }}<br>
				{% endif %}
			</div>
			<div class="project-heading-button">
				{% if page.link %}
				<a href="{{ page.link }}">{% if page.link_title %}{{ page.link_title }}{% else %}Go to Project{% endif %}</a>
				{% endif %}
			</div>
		</aside>
		{% endif %}
		{{ content }}
</article>
{% include footer.html %}
