<div class="sidebar-fixed">
	<div class="home-banner">
		<a href="/"><img src="img/logo_150.png" alt="BrandonJD.net"></a>
	</div>
	<div class="sidebar-content">
		<div class="sidebar-title">
			Brandon J.<br>
			Dusseau
		</div>
		<nav>
			<ul>
				<li><a class="icon-home-1" href="/">Home</a></li>
				<li><a class="icon-doc-text-inv" href="/resume">Resume</a></li>
				<li><a class="icon-folder-open" href="/portfolio">Portfolio</a></li>
				<li><a class="icon-star-1" href="/apps">Fun Stuff</a></li>
				<li><a class="icon-github-circled" href="https://github.com/BrandonDusseau">GitHub</a></li>
				<li><a class="icon-linkedin" href="https://www.linkedin.com/in/brandondusseau">LinkedIn</a></li>
			</ul>
		</nav>
	</div>
</div>
